In [ ]:
#Завдання 2

In [ ]:
#Варіант 7

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
#Прочитайте csv файл (метод read_csv)
sell = pd.read_csv('/content/bestsellers with categories.csv', encoding='latin1')
sell

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [27]:
#Виведіть перші 10 рядків (метод head)
sell = sell.head(10)
print(sell)

                                                name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     author  user_rating  reviews  price  year        genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [6]:
#Виведіть розміри датасету (метод shape)
print(sell.shape)

(10, 7)

In [8]:
#Про скільки книг зберігає дані датасет?
books = sell.shape[0]
print(books)

10

In [9]:
#Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
sell.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
print(sell)

                                                name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     author  user_rating  reviews  price  year        genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [28]:
#Вивести кількість пропусків у кожному стовпчику.
miss = sell.isna().sum()
print(miss)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [14]:
#За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre
uni = sell['genre'].unique()
print(uni)

['Non Fiction' 'Fiction']

In [15]:
#Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
max = sell['price'].max()
min = sell['price'].min()
mean = sell['price'].mean()
median = sell['price'].median()
print(max)
print(min)
print(mean)
print(median)

30
3
13.0
11.5

In [16]:
#Який рейтинг у датасеті найвищий?
high = sell['user_rating'].max()
print(high)

4.8

In [17]:
#Скільки книг мають такий рейтинг?
book_high = sell[sell['user_rating'] == high]
count_book_high = book_high.shape[0]
print(count_book_high)

1

In [18]:
#Яка книга має найбільше відгуків?
book_reviews = sell[sell['reviews'] == sell['reviews'].max()]
print(book_reviews)

                        name           author  user_rating  reviews  price  \
9  A Man Called Ove: A Novel  Fredrik Backman          4.6    23848      8

   year    genre
9  2016  Fiction

In [19]:
#З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
top502010 = sell[sell['year'] == 2010]
doroga = top502010[top502010['price'] == top502010['price'].max()]
print(doroga)
#Тут же не може нічого бути? У нас же немає 2010 року.

Empty DataFrame
Columns: [name, author, user_rating, reviews, price, year, genre]
Index: []

In [21]:
#Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
top502012 =  sell[(sell['genre'] == 'Fiction') & (sell['year'] == 2012)]
doroga2 = top502012.shape[0]
print(doroga2)
#Тут теж саме, що і в попередньому завданні

0

In [24]:
#Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
top_4_9_2010_2011=  sell[(sell['user_rating'] == 4.9) & (sell['year'] == 2010) | (sell['year'] == 2011)]
vid_4_9 = top_4_9_2010_2011.shape[0]
print(vid_4_9)

2

In [26]:
#Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
genre_prize = sell.groupby('genre')['price'].agg(['max', 'min'])
print(genre_prize)

             max  min
genre
Fiction       30    6
Non Fiction   15    3

In [ ]:
#Висновок: як і в першому завданні ми вчилися зчитувати та редагувати датафрейми з файлу